################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs
/ProdutoAPI/bin/Debug/net8.0
/ProdutoAPI/obj
/ProdutoAPI.Tests/bin
/ProdutoAPI.Tests/CRUD.cs
/ProdutoAPI.Tests/obj
